<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Biblioteca</title>
</head>
<body>
<h1>Adicionar Aluno</h1>

<form action="/adicionarAluno" method="post"> 
	
	<div>
		<label>Nome</label> <input type="text" name="nome">
	</div>
	<div>
		<label>Matrícula</label> <input type="text" name="matricula">
	</div>
	<div>
		<label>Cpf</label> <input type="text" name="cpf">
	</div>
	<div>
		<label>Nascimento</label> <input type="text" name="nascimento">
	</div>
	<div>
		<label>Endereço</label> <input type="text" name="endereco">
	</div>
	<div>
		<button type="submit">Salvar</button>
		<button type="reset">Limpar</button>
	</div>
	
</form>
</body>
</html>