<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>

	<nav th:fragment="menu"> <!--Definindo esse bloco de códigos como fragmentos para que eu posso reutilizá-lo sem precisar reescreve-lo novamente-->
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">Biblioteca</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/biblioteca/formLivro">Adicionar Livro</a></li>
				<li><a href="/biblioteca/listaAlunos">Lista de Alunos</a></li>
				<li><a href="/biblioteca/emprestimo">Empréstimo</a></li>
				<li><a href="/biblioteca/finalizarEmprestimo">Finalizar Empréstimo</a></li>
			</ul>
		</div>
	</nav>

</body>

</html>