<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Biblioteca</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<h1>Finalizar Empréstimo</h1>
		
		<p th:if="${mensagem}" th:text="${mensagem}"></p>

		<form action="/biblioteca/finalizarEmprestimo/{id}" method="post">


			<div>
				<label>Id do Empréstimo</label> <input type="text" name="id">
			</div>
			<div>
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>

		</form>
	</div>

	<div class="container">
		<h1>Lista de Empréstimos</h1>

		<table>

			<thead>
				<tr>
					<th>Id</th>
					<th>Aluno</th>
					<th>Livro</th>
					<th>Data de Emprestimo</th>
					<th>Data de Devolução</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${emprestimos}">
					<!--Isso representa uma repetição "for" que vai repetir a quantidade de objetos que eu tiver na minha lista chamada de alunos-->
					<td th:text="${e.id}">1</td>
					<!-- O valor dos elementos serão substituidos pelo valor que está no banco de dados -->
					<td th:text="${e.aluno}">Stephany</td>
					<td th:text="${e.livro}">20191204010047</td>
					<td th:text="${e.dataEmprestimo}">017.222.104-86</td>
					<td th:text="${e.dataDevolucao}">21/07/2004</td>
				</tr>
			</tbody>

		</table>
	</div>

</body>

</html>