<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Biblioteca</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<h1>Adicionar Livro</h1>

		<form action="/adicionarLivro" method="post" th:object="${livro}"> <!--Essa ultima anotação é usada para simplificar os input. Não sendo necessario name e th.value, apenas o th:field-->

			<div>
				<input type="hidden" th:field="*{id}" readonly="readonly">
			</div>
			<div>
				<label>Título</label> <input type="text" th:field="*{titulo}">
				<p th:errors="*{titulo}"></p>
			</div>
			<div>
				<label>Autor</label> <input type="text" th:field="*{autor}">
				<p th:errors="*{autor}"></p>
			</div>
			<div>
				<label>Editora</label> <input type="text" th:field="*{editora}">
				<p th:errors="*{editora}"></p>
			</div>
			<div>
				<label>Ano de Publicação</label> <input type="text" th:field="*{anoPublicado}">
				<p th:errors="*{anoPublicado}"></p>
			</div>
			<div>
				<label>Edição</label> <input type="text" th:field="*{edicao}">
				<p th:errors="*{edicao}"></p>
			</div>
			<div>
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>

		</form>
	</div>
</body>

</html>