<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Biblioteca</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<h1>Adicionar Aluno</h1>

		<form action="/biblioteca/adicionarAluno" method="post" th:object="${aluno}"> <!--Essa ultima anotação é usada para simplificar os input. Não sendo necessario name e th.value, apenas o th:field-->

			<div>
				<input type="hidden" th:field="*{id}" readonly="readonly">
			</div>
			<div>
				<label>Nome</label> <input type="text" th:field="*{nome}" required>
			</div>
			<div>
				<label>Matrícula</label> <input type="number" th:field="*{matricula}" required>
			</div>
			<div>
				<label>CPF</label> <input type="number" th:field="*{cpf}" required>
			</div>
			<div>
				<label>Nascimento</label> <input type="text" th:field="*{nascimento}" required>
			</div>
			<div>
				<label>Endereço</label> <input type="text" th:field="*{endereco}" required>
			</div>
			<div>
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>

		</form>
	</div>
</body>

</html>