<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Biblioteca</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<h1>Adicionar Aluno</h1>

		<form action="/biblioteca/adicionarAluno" method="post">

			<div>
				<input type="hidden" name="id" th:value="${aluno.id}" readonly="readonly">
			</div>
			<div>
				<label>Nome</label> <input type="text" name="nome" th:value="${aluno.nome}">
			</div>
			<div>
				<label>Matrícula</label> <input type="text" name="matricula" th:value="${aluno.matricula}">
			</div>
			<div>
				<label>Cpf</label> <input type="text" name="cpf" th:value="${aluno.cpf}">
			</div>
			<div>
				<label>Nascimento</label> <input type="text" name="nascimento" th:value="${aluno.nascimento}">
			</div>
			<div>
				<label>Endereço</label> <input type="text" name="endereco" th:value="${aluno.endereco}">
			</div>
			<div>
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>

		</form>
	</div>
</body>

</html>