<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Biblioteca</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<h1>Lista de Livros</h1>

		<table class="highlight">
			
			<thead>
				<tr>
					<th>Id</th>
					<th>Título</th>
					<th>Autor</th>
					<th>Editora</th>
					<th>Ano de Publicação</th>
					<th>Edição</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="l : ${livros}"> <!--Isso representa uma repetição "for" que vai repetir a quantidade de objetos que eu tiver na minha lista chamada de alunos--> 
					<td th:text="${l.id}">1</td> <!-- O valor dos elementos serão substituidos pelo valor que está no banco de dados -->
					<td><a th:href="@{/biblioteca/Livro/{id}(id=${l.id})}"><span th:text="${l.titulo}">Stephany</span></a></td>
					<td th:text="${l.autor}">20191204010047</td>
					<td th:text="${l.editora}">017.222.104-86</td>
					<td th:text="${l.anoPublicado}">21/07/2004</td>
					<td th:text="${l.edicao}">Jardim de Angicos</td>
					<td>
						<a th:href="@{/biblioteca/selecionarLivro/{id}(id=${l.id})}"> <i class="material-icons">edit</i></a>
						<a th:href="@{/biblioteca/removerLivro/{id}(id=${l.id})}"> <i class="material-icons">delete</i></a>
					</td>
				</tr>
			</tbody>
			
		</table>
	</div>
</body>

</html>